@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('../../background.png') no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.6;
    font-size: 16px;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,.1);
    backdrop-filter: blur(50px);
    z-index: -1;

}

.logo{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    
}

.navbar a{
    font-size: 0.7rem;
    color:#e5ecef;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
}

.navbar:after {
    content: " ";
    display: block;
   
    height: 29px;
    width: 100%;

    position: absolute;
    bottom: -29px;
}

.navbar a:hover {
    color: #accde8; 
}

.icons {
    position: absolute;
    right:3%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: -1;
}

#check {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }

}


@media (max-width: 768px) {

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
        
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0,0,0,.1);
        overflow: hidden;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transition: .3s ease;
       

    }

    #check:checked~.navbar {
        height: 33rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));

    }
    .navbar.active {
        left: 0;
    }

    .content{
        width: 70%;
        margin: auto;
    }
}

.news-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align:left ;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    font-weight:100;
    font-size: 0.7rem;
    padding: 2rem;
    margin-left: 50px;
    margin-right: 50px;
}

.news-article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


.news-title {
    margin-top: 0;
    color: #333;
}

.news-date {
    color: #666;
    margin-bottom: 5px;
}

.news-description {
    color: #444;
}

.navbar{
    z-index: 1002;
    position: relative;
}


.news-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news-image {
    max-width: 30%;
    height: auto;
}

.news-heading {
    font-size: 1.8rem; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 8rem;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight:100;
    padding: 1rem;
}

.ask-answer-heading {
    font-size: 1.8rem; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 8rem;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight:100;
    padding: 1rem;
}

.ask-answer-content{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align:left ;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    font-weight:100;
    font-size: 1rem;
    padding: 2rem;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.question-list {
    list-style-type: none;
    padding: 0;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-bottom: 30px;
}

.ask-answer-image{
    float: left;
    max-width: 4%;
}

.question-details {
    flex: 1;
}

.question-title {
    margin-top: 0;
}

.question-info {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
}

.question-description {
    margin-top: 0;
}

.question-answer {
    margin-top: 5px;
    text-decoration: underline;
    font-size: 12px;
}

.ask-question-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ad8a67;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-right: 50px;
}

.content {
    width: 70%;
    margin: auto;
}

.main h2 {
    color: #ff6347;
}

.main p {
    color: #f6e4e1;
}

.navbar:after {
    content: " ";
    display: block;

    height: 29px;
    width: 100%;

    position: absolute;
    bottom: -29px;
}

.main {
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: left;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 100;
    font-size: 0.7rem;
    padding: 2rem;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses a {
    background-color: #f2f2f2;
    display: block;
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px;
    height: fit-content;
    width: calc(50% - 20px);
}

.all-courses h2 {
    color: #ff6347;
   
}

footer {
    margin-top: auto;

    text-align: center;
    padding: 20px 0;
}

.images {
    background-color: rgba(68, 44, 44, 0.8);
    display: flex;
    flex-wrap: wrap;


    justify-content: center;
    padding: 5%;

}


.main-page {

    background-color: rgba(68, 44, 44, 0.8);

    padding: 5%;
    text-align: center;
    font-size: large;
}